$theme-colors: (
  'primary': #006063,
  'secondary': #833bec,
  'success': #1ce1ac,
  'info': #ff7d50,
  'warning': #ffbe0b,
  'danger': #ff007f,
  'light': #c0ccda,
  'dark': #004446,
  'gold': #e8a765,
  'body-color': #c0ccda,
);

$grid-gutter-width: 1.5rem;
$spacer: 1rem;
$gutters: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

@import '/node_modules/bootstrap/scss/bootstrap.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Shabnam';
  src: url('../../public/assets/fonts/Shabnam-FD.ttf') format('truetype');
}
@font-face {
  font-family: 'ShabnamBold';
  src: url('../../public/assets/fonts/Shabnam-Bold-FD.ttf') format('truetype');
}
@font-face {
  font-family: 'ShabnamLight';
  src: url('../../public/assets/fonts/Shabnam-Light-FD.ttf') format('truetype');
}

body {
  font-family: 'Shabnam', sans-serif;
  color: #006063;
}

.text-sm {
  font-size: 12px;
}
